html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.maintext{
    padding: 75px,0px,20px, 0px;
}
.mainImage{
    border-radius:20px;
    filter:drop-shadow(0px 0px 10px #258cfb);
    margin:40px;
}
.mainSubtitle{
    letter-spacing:2px;
    font-weight:400;
}
.smallText{
    text-align:right;
    color:gray;
    font-style:italic;
}
.makeYourOwnDiv{
    margin:0;
    background:gray;
}
.makeYourOwnText{
    color:white;
    margin:100px 0 20px 0;
}
.pizza-img :hover{
    transform: scale(1.05);
}