@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="maintext">
        <h1 class="display-4">Welcome To Just Delicious Pizza</h1>
        <h3 class="mainSubtitle">One Stop For Best Pizza's</h3> 
    </div>
    <img class="mainImage" src="~/Images/PizzaTime.jpg " />
    <br />
    <a class="btn btn-primary mt-1" asp-area ="" asp-page ="/Pizza">Get This Pizza</a>
</div>
